services:
    backend:
        build: ./backend
        ports:
            - "8000:8000"
        volumes:
            - ./backend:/app
        environment:
            - PORT=8000
        restart: always

    frontend:
        build: ./frontend
        ports:
            - "5173:5173"
        volumes:
            - ./frontend:/app
            - /app/node_modules
        depends_on:
            - backend
        environment:
            - PUBLIC_API_URL=http://localhost:8000
        restart: always
